/*@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}*/

body{
    background-color: #121212;
}

label:empty {
    display: none;
}

.ventana{
    margin: 2em auto; 
    width: 30em; 
    border: 3px solid #667;  
    background: linear-gradient(to bottom, #333 0%, #6b441c 100%);
}
.navbar{
    background: linear-gradient(to bottom, #575757 0%, #292929 100%);
}
.navbar-brand, .navbar-link{
    color: white;
}
ul{
    margin-bottom: 0;
}

.conteiner{
    border-radius: 15px;
    margin: 2em auto; 
    width: 63%; 
    border: 5px solid #F6E9A4; 
    padding: 0.8em; 
    background: linear-gradient(to bottom, #5c5745 0%, #16130b 100%);
}

.carousel-control-prev, .carousel-control-next{
    width: 5%;
}

a, a:hover, a:active, a:visited {
    color: #fff !important;
  }

.cartel{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    color: #F6E9A4;
    text-transform: uppercase;
}

.conteiner-label{
    background: linear-gradient(to bottom, #888 0%, #322 100%);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

input{
    background-color: #444;
    color: white;
}

button{
    color: white;
}