{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block title %}
Cambio de Contraseña
{% endblock %}

{% block content %}
<div class="conteiner">
  <form action="{{ url_for('requestpasswordchange') }}" class="ventana" method="POST" style="color: white;">
    <h3>Ingrese el email de su cuenta para solicitar un cambio de contraseña</h3>
    {{ render_field(form.text) }}
    <input type="submit" value="Solicitar cambio de Contraseña">
  </form>
</div>
{% endblock %}